<h1 mat-dialog-title> Login </h1>
<div mat-dialog-content>

  <mat-form-field class="example-full-width">
    <mat-label>Login</mat-label>
    <input matInput type="email" placeholder="NameSurname@yandex.com" [(ngModel)]="this.login"/>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="Enter password" [(ngModel)]="this.password">
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="this.sendLoginRequest()">Login</button>
</div>
