.bar-item {
  display: flex;
  overflow: hidden;
  font-size: 14px;
}

.avatar-item {
  border-radius: 50%;
  overflow: hidden;
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

.login-item {
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
  white-space: nowrap;
}

.login-item:hover {
  color: #000000;
}
