<div class="bar-item">
  <div class="avatar-item">
    <img width="35"
         height="35"
         src="./assets/temp/temp-user-avatar.png"
         [matMenuTriggerFor]="menu"
    />
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Мой профиль</button>
    <button mat-menu-item>Выйти</button>
  </mat-menu>
  <div class="login-item" (click)="this.menuProccess()">{{this.user.Login}}</div>
</div>
