<!-- Toolbar role="banner" -->
<div class="simple-toolbar-container">
  <div class="simple-toolbar-left-items">
    <img
      width="40"
      alt="Dialog Logo"
      src="./assets/DialogLogo.png"
      style="margin-left: 5px;"
    />
    <span style="margin-left: 15px;"> Welcome to Dialog App </span>
  </div>

  <div *ngIf="this.isLoggedIn" class="simple-toolbar-right-items">
    <login-bar-component [user]="this.user"></login-bar-component>
  </div>

  <div *ngIf="!this.isLoggedIn">
    <div class="simple-toolbar-right-items">
      <div class="login-item" (click)="this.onLoginClicked()">Login</div>
      <div class="margin-item" (click)="this.onRegisterClicked()">Register</div>
    </div>
  </div>

</div>

{{this.dev_getUser().Login}}

<div class="content">
  {{this.dev_getUser().Login}}
  <router-outlet></router-outlet>
</div>

<div>
  <div> HUI: {{this.dev_getUser().Login}} </div>
  <div> {{this.dev_getUser().AccessToken}} </div>
  <div>
    {{this.dev_getUser().Login}}
    <button (click)="this.dev_dropUser()">Clean Cookie</button>
    <button (click)="this.dev_checkAuth()">Check auth</button>
    <button (click)="this.dev_checkAuth2()">Check auth2</button>
  </div>
</div>
{{this.dev_getUser().Login}}
<!-- Footer -->
<footer class="footer">
  <small>&copy; Copyright 2023 Dialog. All rights reserved.</small>
</footer>


